
.MuiDataGrid-row:nth-of-type(even) {
  background-color: #e7edf3;
}

.MuiDataGrid-row:nth-of-type(odd) {
  background-color: #f4f6f9;
}

.MuiDataGrid-columnHeaders {
  background-color: #e7edf3;
  
}

/* .MuiDataGrid-columnHeaderTitle {
  
  white-space: initial !important;
  text-align: center;
} */

.MuiDataGrid-cell {
  white-space: initial !important;
  text-align: center;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.MuiDataGrid-cellContent {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}